@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1.5rem;
  width: 100%;
}

button[type='button'] {
  background-color: #333;
  margin: 0 1rem;
  font-size: 1rem;
  font-weight: 700;
  transition: background-color 0.3s;
  outline: none;
  border: none;
}

button[type='button']:hover {
  background-color: #555;
}

section {
  display: grid;
  grid-auto-rows: minmax(40px, auto);
  border: 2px solid #ccc;
  border-radius: 1rem;
  padding: 20px;
  text-align: left;
}

section > h3 {
  font-size: 1.2rem;
  font-weight: 700;
}

section h4 {
  width: 100%;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 2rem;
}

.box {
  min-width: 500px;
  max-width: 800px;
  min-height: 300px;
  padding: 2rem;
  font-size: 1.5rem;
  margin: 0 auto;
  border: 2px solid #ccc;
  border-radius: 4px;
}

#user {
  grid-template-columns: 120px calc(100% - 120px);
  grid-template-areas:
    'title title'
    'label input';
}

#user > h3 {
  grid-area: title;
}

#user > label {
  grid-area: label;
  display: flex;
  align-items: center;
  justify-content: center;
}

#user > input {
  grid-area: input;
}

#product {
  grid-template-columns: 1fr 120px 120px;
  grid-template-areas:
    'name button1 button2'
    'list list list';
  grid-gap: 20px;
}

#product > h3 {
  grid-area: name;
  line-height: 40px;
}

#product > button:first-child {
  grid-area: button1;
}

#product > button:lsst-child {
  grid-area: button2;
}

#product > ul {
  grid-area: list;
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-gap: 15px;
}

#product > ul > li {
  font-size: 1rem;
  color: #000;
  padding: 8px;
  border-radius: 4px;
  background-color: #efefef;
}

#brand > ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 80px;
  grid-gap: 10px;
}

#brand .card {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  background-color: #555;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  transition: all 0.3s;
}

#brand .card.active {
  color: #000;
  background-color: #ccc;
}

ul {
  padding: unset;
}

li {
  list-style: none;
  line-height: 1.7rem;
}

input {
  min-height: 40px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #eee;
  color: #000;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#app {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
